body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.h-100vh {
  height: 100vh;
}

.bg-bl {
  background: rgba(0,134,255,0.5);
}
.bg-gr {
  background: rgba(245,240,240,0.5);
}
.border-radius {
  border-radius: 5px;
}
.flx{
  display: flex;
}
.flx-end {
  display: flex;
  text-align: right;
  justify-content: flex-end;
}